<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
  <main>
    <div
      style="background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); width: 100%; height: 50px;">
    </div>
    <h2 style="text-align: center;">Welcome to TinyApp</h2>
    <h5 style="text-align: center; text-decoration: underline;">Registration</h5>
    <div style="width: 100%; display: flex; justify-content: center;">
      <form action="/register" method="post" class="container"
        style="display: flex; flex-direction: column; position: relative; justify-content: center; margin: 2%; width: 25%;">
        <div class="row row-inline"  style="display: flex; justify-content: space-between;">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="row row-inline"  style="display: flex; justify-content: space-between;">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-sm btn-outline-success" style="margin-top: 5%; width: 100%" type="submit">Register</button>
      </form>
    </div>
    <hr>
    <hr>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>